/* Add here all your CSS customizations */

.tab-content {
    border-radius: 0px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    background-color: #ecedf0;
    border: 0px !important;
    border-top: 0;
    padding: 0px;
}

.tab-content-product {
    background-color: #fff !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #f6f6f6;
    color: #777
}

.nav-pills .nav-link {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 120px;
    margin-right: .5rem;
    text-align: center;
    font-weight: bold;
}

div#pills-tabContent {
    padding: 0px;
}
